/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pulse {
    animation: typing-pulse 1.5s infinite;
}

@keyframes typing-pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}